{% extends  'base.html' %}
{% load req %}
{% load crispy_forms_tags %}

{% block main %}
    <table class="table table-hover table-bordered ">
        <thead>
        <tr>
            <th>id</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Port</th>
            <th>User Group</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for rule in rules %}
            <tr>
                <td><a href="{% url 'rule_detail' rule.id %}">{{ rule.id }}</a></td>
                <td><p>{{ rule.source }}</p></td>
                <td><p>{{ rule.destination }}</p></td>
                <td><p>{{ rule.port }}</p></td>
                <td><p>{{ rule.user_group }}</p></td>
                <td><p>{{ rule.status }}</p></td>
                <td class="w-15">
                    <form action="" method="post" >{% csrf_token %}
                        <input type="text" hidden name="id" value="{{ rule.id }}">
                        <button class="btn btn-primary">Add</button>
                        <a class="btn btn-primary" href="{% url 'rule_edit' rule.id %}">Edit</a>
                    </form>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}