{% extends  'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block main %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <br>
                <br>
                <h2 style="text-align: center">Upload Excel files</h2>
                <br>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form| crispy }}
                    <input type="submit" class="btn btn-primary"value="Submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}